 <launch>
    <!-- 海龟仿真器 -->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <!-- 键盘控制 -->
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>

    <!-- 两只海龟的tf广播 -->
    <node pkg="learning_tf" type="turtle_tf_broadcaster"
          args="/turtle1" name="turtle1_tf_broadcaster" output="screen"/>   

    <node pkg="learning_tf" type="laser_tf_broadcaster.py"  
            name="broadcaster_laser" />  

      <!-- 坐标变换 -->
      <node pkg="learning_tf" type="laser_point_transform"
             name="laser_point_transform" output="screen"/>  

 </launch>
